{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {{ parent() }}

    <div class="button-action">
        <a class="btn btn-primary" href="">
            <i class="fa fa-fw "></i>
            Importer
        </a>
    </div>
{% endblock %}
